<CodeBlocks_template_file>
	<Template name="EGE_Project" title="EGE Graphics Project" category="EGE" bitmap="console.png">
		<FileSet name="c++" title="C++ source">
			<File source="ege-main.cpp" destination="main.cpp"/>
		</FileSet>
		<Option name="EGE Graphics Project">
			<Project file="EGE_Project.cbp"/>
		</Option>
	</Template>
</CodeBlocks_template_file>
